<!DOCTYPE html>

<html>
    <head>
        <title>{{title}} - Weather NodeJS App</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <P>This site was create by Bob. It uses data from mapbox.com (convert location to longitude and latitude) and weatherstack.com (weather).<BR><BR>It was done as part of a <a href="http://udemy.com">UDemy.com</a> class.</P>
            <img class="portrait" src="/img/bob2.jpg">
        </div>
        {{>footer}}
    </body>
</html>