<!DOCTYPE html>

<html>
    <head>
        <title>{{title}} - Weather NodeJS App</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <P>{{helpText}}</P>
        </div>

        {{>footer}}
    </body>
</html>